<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700967801474-202o129ae730su03dotdhfn03rc642ld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700967801474-202o129ae730su03dotdhfn03rc642ld</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>700967801474-76iprrc303naq785q9vfucu4ulkn8uue.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCgzgn1P6pFz1LF113yROsuYEi4xiNDMR0</string>
	<key>GCM_SENDER_ID</key>
	<string>700967801474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ePaisaInterview</string>
	<key>PROJECT_ID</key>
	<string>epaisainterview</string>
	<key>STORAGE_BUCKET</key>
	<string>epaisainterview.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:700967801474:ios:4d691724716cdcfc795a9b</string>
	<key>DATABASE_URL</key>
	<string>https://epaisainterview.firebaseio.com</string>
</dict>
</plist>
